rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /volunteers/{volunteerId} {
      allow read, write: if true;
    }
    match /opportunities/{opportunityId} {
      allow read, write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /perks/{perkId} {
      allow read, write: if true;
    }
    match /certificates/{certificateId} {
      allow read, write: if true;
    }
    match /notifications/{notificationId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
